target/META-INF/mule-src/soap-test/src/main/mule/soap-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="79165884-b828-4ba3-9585-6a6229845b82" >
		<http:request-connection protocol="HTTPS" host="www.dataaccess.com" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d53b61e7-6112-4192-a2ec-5f11a13217a5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="soap-testFlow" doc:id="e500bd5d-5fa0-47de-9390-3299a9b40d06" >
		<http:listener doc:name="Listener" doc:id="cc000134-88b1-4c82-978c-3213871a0d34" config-ref="HTTP_Listener_config" path="/extenso"/>
		<logger level="INFO" doc:name="Logger" doc:id="9eb6fbaa-bd2b-4892-b9af-f2c0ef70745d" message="#[payload]" category="INIT"/>
		<http:request method="POST" doc:name="Request" doc:id="b4f53186-a8fb-4f82-9c8e-f53428e35f0e" config-ref="HTTP_Request_configuration" path="/webservicesserver/NumberConversion.wso">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="6a1837a7-cbc9-44a9-9da5-ac7e7478879b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="bdcdd4db-6c17-4ce8-b9d4-cfdebbbb83a6" message="#[payload]" category="END"/>
	</flow>
</mule>
